/* line 5, ../scss/md.sass */
::-webkit-scrollbar { width: 5px; height: 5px; }

/* line 9, ../scss/md.sass */
::-webkit-scrollbar-track { background: white; -webkit-border-radius: 5px; }

/* line 12, ../scss/md.sass */
::-webkit-scrollbar-thumb { background: #aaaaaa; -webkit-border-radius: 5px; }

/* line 15, ../scss/md.sass */
.x { clear: both; }

/* line 18, ../scss/md.sass */
div.field.markdown .middleColumn { position: relative; }

/* line 20, ../scss/md.sass */
.markdown_Iframe { width: 100%; height: 520px; }

/* line 23, ../scss/md.sass */
textarea.markdown { display: none; }

/* line 25, ../scss/md.sass */
#markdown_EditorWrapper { position: relative; float: left; height: 500px; margin-right: 40px; }

/* line 30, ../scss/md.sass */
#markdown_Editor { position: absolute; top: 30px; left: 0; width: 512px; height: 500px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; background: white; z-index: 100; }

/* line 39, ../scss/md.sass */
#markdown_ButtonBar { position: absolute; top: 0; left: 45px; width: 300px; }
/* line 44, ../scss/md.sass */
#markdown_ButtonBar .markdown_button { width: 15px; text-align: center; height: 15px; padding: 3px; border: 1px solid #cccccc; background: #eeeeee; float: left; cursor: pointer; margin-right: 5px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(100%, #f6f6f6)); background-image: -webkit-linear-gradient(top, #dddddd, #f6f6f6); background-image: -moz-linear-gradient(top, #dddddd, #f6f6f6); background-image: -o-linear-gradient(top, #dddddd, #f6f6f6); background-image: -ms-linear-gradient(top, #dddddd, #f6f6f6); background-image: linear-gradient(top, #dddddd, #f6f6f6); }

/* line 55, ../scss/md.sass */
#markdown_Value { display: none; }

/* line 57, ../scss/md.sass */
#markdown_Preview { position: relative; top: 0; left: 510px; width: 512px; height: 500px; background: white; float: left; overflow-y: scroll; }

/* line 66, ../scss/md.sass */
#markdown_PreviewButton { opacity: 0.6; position: absolute; top: 18px; left: 510px; padding: 3px 5px; background: #b0bec7; -moz-transform: rotate(90deg); -webkit-transform: rotate(90deg); -o-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); }

/* line 74, ../scss/md.sass */
#markdown_PreviewContent { overflow-y: scroll; padding: 10px; }

/* line 77, ../scss/md.sass */
.autocomplete { border: none; color: red; height: 15px; font-size: 12px; font-family: "Monaco", "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas", monospace; background: white; padding: 0px; background: white; width: 200px; position: absolute; top: 10px; right: 100px; display: none; }
/* line 91, ../scss/md.sass */
.autocomplete:focus { outline: none; border: none; }

/* line 94, ../scss/md.sass */
.ui-autocomplete { list-style-type: none; width: 200px; margin: 0; padding: 0; }
/* line 99, ../scss/md.sass */
.ui-autocomplete .ui-menu-item { font-family: "Monaco", "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas", monospace; padding: 0; display: block; -moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0; -ms-border-radius: 0; -khtml-border-radius: 0; border-radius: 0; font-size: 12px; height: 15px; border: none; background: #f3f3f3; }
/* line 108, ../scss/md.sass */
.ui-autocomplete .ui-menu-item a { display: block; }
/* line 110, ../scss/md.sass */
.ui-autocomplete .ui-menu-item .ui-state-hover { background: red; }
