/* line 16, ../scss/md.sass */
.x { clear: both; }

/* line 19, ../scss/md.sass */
div.field.markdown .middleColumn { position: relative; }

/* line 21, ../scss/md.sass */
.markdown-editor-iframe { width: 100%; height: 520px; }

/* line 25, ../scss/md.sass */
.markdown-editor-toolbar { position: absolute; padding: 5px; top: 0; left: 48px; width: 446px; background: whiteSmoke; }
/* line 32, ../scss/md.sass */
.markdown-editor-toolbar .logo { width: 32px; height: 20px; background: url('../images/markdown32x20.png?1340987236') no-repeat center; display: inline-block; float: left; margin-left: -45px; }
/* line 39, ../scss/md.sass */
.markdown-editor-toolbar .md-button { width: 20px; height: 16px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; border: solid 2px black; font-family: "Monaco", "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas", monospace; text-align: center; float: left; cursor: pointer; margin-right: 5px; }
/* line 49, ../scss/md.sass */
.markdown-editor-toolbar .md-button.md-help { background: url('../images/info.png?1297166812') no-repeat center; }
/* line 51, ../scss/md.sass */
.markdown-editor-toolbar .md-button.md-preview { background: url('../images/eye.png?1297167108') no-repeat center; }
/* line 53, ../scss/md.sass */
.markdown-editor-toolbar .md-button.md-refresh { background: url('../images/reload.png?1297166840') no-repeat center; }
/* line 55, ../scss/md.sass */
.markdown-editor-toolbar .md-button.md-close { background: url('../images/close.png?1297166968') no-repeat center; }
/* line 57, ../scss/md.sass */
.markdown-editor-toolbar .md-button:hover { background-color: #aaaaaa; }

/* line 59, ../scss/md.sass */
textarea.markdown { display: none; }

/* line 61, ../scss/md.sass */
#markdown_EditorHTML { overflow: hidden; }

/* line 63, ../scss/md.sass */
#markdown_EditorWrapper { position: relative; float: left; height: 470px; margin-right: 40px; }

/* line 68, ../scss/md.sass */
#markdown_Editor { position: absolute; top: 30px; left: 0; width: 512px; height: 470px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; background: white; z-index: 100; }

/* line 77, ../scss/md.sass */
#markdown_Value { display: none; }

/* line 79, ../scss/md.sass */
#markdown_Preview { position: relative; margin-top: 30px; width: 502px; height: 460px; background: white; float: left; overflow-y: scroll; opacity: 0; padding: 5px; }

/* line 89, ../scss/md.sass */
.hidden-proxy-buttons { display: none; }

/* line 91, ../scss/md.sass */
#markdown_PreviewContent { overflow-y: hidden; padding: 5px; background: white; }

/* line 95, ../scss/md.sass */
.autocomplete { border: none; color: #3875d7; height: 15px; font-size: 12px; font-family: "Monaco", "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas", monospace; padding: 0px; background: #dddddd; width: 200px; position: absolute; top: 10px; right: 100px; display: none; }
/* line 108, ../scss/md.sass */
.autocomplete:focus { outline: none; border: none; }

/* line 111, ../scss/md.sass */
.ui-autocomplete { list-style-type: none; width: 200px; margin: 0; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; border: 2px solid black; padding: 1px; }
/* line 118, ../scss/md.sass */
.ui-autocomplete .ui-menu-item { font-family: "Monaco", "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas", monospace; display: block; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; font-size: 12px; line-height: 12px; background: #f9f9f9; clear: both; border-bottom: 1px solid #cccccc; }
/* line 127, ../scss/md.sass */
.ui-autocomplete .ui-menu-item a { padding: 3px; display: block; }
/* line 130, ../scss/md.sass */
.ui-autocomplete .ui-menu-item:last-child { border-bottom: 0; }
/* line 132, ../scss/md.sass */
.ui-autocomplete .ui-menu-item .image_suggest_item { display: inline-block; }
/* line 134, ../scss/md.sass */
.ui-autocomplete .ui-menu-item .autosuggest_breadcrumb { display: block; color: #999999; font-size: 10px; line-height: 10px; }
/* line 139, ../scss/md.sass */
.ui-autocomplete .ui-menu-item .autosuggest_title { display: block; color: black; }
/* line 142, ../scss/md.sass */
.ui-autocomplete .ui-menu-item a { display: block; }
/* line 144, ../scss/md.sass */
.ui-autocomplete .ui-menu-item .ui-state-hover { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc)); background-image: -webkit-linear-gradient(top, #3875d7 20%, #2a62bc 90%); background-image: -moz-linear-gradient(top, #3875d7 20%, #2a62bc 90%); background-image: -o-linear-gradient(top, #3875d7 20%, #2a62bc 90%); background-image: -ms-linear-gradient(top, #3875d7 20%, #2a62bc 90%); background-image: linear-gradient(top, #3875d7 20%, #2a62bc 90%); background-color: #3875d7; color: white; }
/* line 148, ../scss/md.sass */
.ui-autocomplete .ui-menu-item .image_suggest_img { margin-right: 5px; float: left; }
