/* line 6, ../scss/md.sass */
::-webkit-scrollbar { width: 5px; height: 5px; }

/* line 10, ../scss/md.sass */
::-webkit-scrollbar-track { background: white; -webkit-border-radius: 5px; }

/* line 13, ../scss/md.sass */
::-webkit-scrollbar-thumb { background: #aaaaaa; -webkit-border-radius: 5px; }

/* line 16, ../scss/md.sass */
.x { clear: both; }

/* line 19, ../scss/md.sass */
div.field.markdown .middleColumn { position: relative; }

/* line 21, ../scss/md.sass */
.markdown_Iframe { width: 100%; height: 520px; }

/* line 24, ../scss/md.sass */
textarea.markdown { display: none; }

/* line 26, ../scss/md.sass */
#markdown_EditorWrapper { position: relative; float: left; height: 470px; margin-right: 40px; }

/* line 31, ../scss/md.sass */
#markdown_Editor { position: absolute; top: 30px; left: 0; width: 512px; height: 470px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; background: white; z-index: 100; }

/* line 40, ../scss/md.sass */
#markdown_ButtonBar { position: absolute; padding: 5px; top: 0; left: 54px; width: 446px; background: whiteSmoke; }
/* line 47, ../scss/md.sass */
#markdown_ButtonBar .markdown_button { font-family: "Monaco", "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas", monospace; font-size: 15px; text-align: center; padding: 3px; line-height: 15px; float: left; cursor: pointer; margin-right: 5px; }
/* line 56, ../scss/md.sass */
#markdown_ButtonBar .markdown_button:hover { -moz-box-shadow: 0 0 3px #777777; -webkit-box-shadow: 0 0 3px #777777; -o-box-shadow: 0 0 3px #777777; box-shadow: 0 0 3px #777777; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #e5e5e5)); background-image: -webkit-linear-gradient(#f5f5f5, #e5e5e5); background-image: -moz-linear-gradient(#f5f5f5, #e5e5e5); background-image: -o-linear-gradient(#f5f5f5, #e5e5e5); background-image: -ms-linear-gradient(#f5f5f5, #e5e5e5); background-image: linear-gradient(#f5f5f5, #e5e5e5); border: none; -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; }

/* line 61, ../scss/md.sass */
#markdown_Value { display: none; }

/* line 63, ../scss/md.sass */
#markdown_Preview { position: relative; margin-top: 30px; width: 512px; height: 470px; background: white; float: left; overflow-y: scroll; opacity: 0; }

/* line 72, ../scss/md.sass */
#markdown_PreviewButton { padding: 3px 5px; cursor: pointer; border: none; }
/* line 76, ../scss/md.sass */
#markdown_PreviewButton:active, #markdown_PreviewButton:focus { background: #748d9d; }
/* line 78, ../scss/md.sass */
#markdown_PreviewButton:hover { background: #92a5b2; }

/* line 80, ../scss/md.sass */
#markdown_PreviewContent { overflow-y: scroll; padding: 10px; }

/* line 84, ../scss/md.sass */
.autocomplete { border: none; color: red; height: 15px; font-size: 12px; font-family: "Monaco", "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas", monospace; background: white; padding: 0px; background: white; width: 200px; position: absolute; top: 10px; right: 100px; display: none; }
/* line 98, ../scss/md.sass */
.autocomplete:focus { outline: none; border: none; }

/* line 101, ../scss/md.sass */
.ui-autocomplete { list-style-type: none; width: 200px; margin: 0; padding: 0; }
/* line 106, ../scss/md.sass */
.ui-autocomplete .ui-menu-item { font-family: "Monaco", "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas", monospace; padding: 0; display: block; -moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0; -ms-border-radius: 0; -khtml-border-radius: 0; border-radius: 0; font-size: 12px; line-height: 15px; border: none; background: #f3f3f3; }
/* line 115, ../scss/md.sass */
.ui-autocomplete .ui-menu-item .autosuggest_breadcrumb { display: block; color: #999999; font-size: 10px; line-height: 10px; }
/* line 120, ../scss/md.sass */
.ui-autocomplete .ui-menu-item .autosuggest_title { display: block; color: black; }
/* line 123, ../scss/md.sass */
.ui-autocomplete .ui-menu-item a { display: block; }
/* line 125, ../scss/md.sass */
.ui-autocomplete .ui-menu-item .ui-state-hover { background: red; }
