@import compass

$font: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Droid Sans Mono', 'Consolas', monospace
$height: 470px

::-webkit-scrollbar
	width: 5px
	height: 5px

::-webkit-scrollbar-track
	background: #FFF
	-webkit-border-radius: 5px
::-webkit-scrollbar-thumb
	background: #AAA
	-webkit-border-radius: 5px
.x
	clear: both
div.field.markdown
	.middleColumn
		position: relative
.markdown_Iframe
	width: 100%
	height: 520px
textarea.markdown
	display: none
#markdown_EditorWrapper
	position: relative
	float: left
	height: $height
	margin-right: 40px
#markdown_Editor
	position: absolute
	top: 30px
	left: 0
	width: 512px
	height: $height
	+border-radius(4px)
	background: #FFF
	z-index: 100
#markdown_ButtonBar
	position: absolute
	padding: 5px
	top: 0
	left: 54px
	width: 446px
	background: whiteSmoke
	.markdown_button
		font-family: $font
		font-size: 15px
		text-align: center
		padding: 3px
		line-height: 15px
		float: left
		cursor: pointer
		margin-right: 5px
		&:hover
			+box-shadow(0 0 3px #777)
			+background-image(linear-gradient(#F5F5F5, #E5E5E5))
			border: none
			+border-radius(2px)
#markdown_Value
	display: none
#markdown_Preview
	position: relative
	margin-top: 30px
	width: 512px
	height: $height
	background: #FFF
	float: left
	overflow-y: scroll
	opacity: 0
#markdown_PreviewButton
	padding: 3px 5px
	cursor: pointer
	border: none
	&:active, &:focus
		background: darken(#B0BEC7, 20%)
	&:hover
		background: darken(#B0BEC7, 10%)
#markdown_PreviewContent
	overflow-y: scroll
	padding: 10px

.autocomplete
	border: none
	color: #F00
	height: 15px
	font-size: 12px
	font-family: $font
	background: #FFF
	padding: 0px
	background: #FFF
	width: 200px
	position: absolute
	top: 10px
	right: 100px
	display: none
	&:focus
		outline: none
		border: none
.ui-autocomplete
	list-style-type: none
	width: 200px
	margin: 0
	padding: 0
	.ui-menu-item
		font-family: $font
		padding: 0
		display: block
		+border-radius(0)
		font-size: 12px
		line-height: 15px
		border: none
		background: #F3F3F3
		.autosuggest_breadcrumb
			display: block
			color: #999
			font-size: 10px
			line-height: 10px
		.autosuggest_title
			display: block
			color: #000
		a
			display: block
		.ui-state-hover
			background: #F00
